---
import { Picture } from "@astrojs/image/components";

type Props = {
 src: string;
 title: string;
 alt: string;
 loading?: boolean;
};

const { src, title, alt, loading, img } = Astro.props;
const loadingAttribute = loading ? "eager" : "lazy";
---

<div class="aspect-video rounded relative block overflow-hidden">
 <Picture
  {...img}
  background="white"
  class="w-full h-auto cover"
  src={src}
  title={title}
  widths={[200, 400, 600, 720, 1024]}
  sizes="(max-width: 1024px) 100vw, 1024px"
  aspectRatio="16:9"
  format="avif"
  alt={alt}
  loading={loadingAttribute}
 />
</div>
