---
import Nav from "~/components/UI/Nav.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="О проекте">
 <div class="myContainer">
  <Nav />
  <div class="my-4 md:my-10 prose prose-headings:text-[24px] max-w-none">
   <h1>О проекте</h1>
   <h2>Ежедневники с быстрым копированием для разметки Telegram и без.</h2>

   <p>
    Всем привет! Мы рады представить вам невероятно удобный инструмент для членов
    сообществ <b>АА</b>, <b>АН</b> и <b>АС</b> (Анонимные Созависимые) и другие...
   </p>

   <p>
    С этим сайтом, у вас есть уникальная возможность упростить и автоматизировать процесс
    сбора и распространения ваших ежедневников. Вместо того, чтобы затрачивать время на
    копирование ежедневников вручную, вы можете просто нажать кнопку <b>"Скопировать".</b>
    Это не только экономит ваше время, но и уменьшает риск ошибок при копировании.
   </p>

   <p>
    Более того, мы также предлагаем интеграцию с Telegram. С помощью кнопки с иконкой
    Telegram, вы можете с легкостью отправить копии своих ежедневников прямо на ваши
    собрания в Telegram. Это обеспечивает удобный и быстрый способ обмена важной
    информацией и опытом с другими членами сообщества.
   </p>

   <p>
    Наш сайт был создан с мыслью о ваших потребностях и комфорте. Мы стремимся сделать
    процесс обмена ежедневниками максимально простым и удобным, чтобы вы могли
    сосредоточиться на самом важном - вашем пути к восстановлению и поддержке других.
   </p>
   <p>
    Дополнительным преимуществом нашего сайта является кнопка <a
     href="/reflections/aa/today"
     class="underline text-blue-500 underline-offset-4">"Ежедневник дня"</a
    >. Эта функция значительно облегчает процесс поиска актуального ежедневника. Нет
    необходимости пролистывать список или искать нужную дату вручную - просто нажмите эту
    кнопку и сразу получите ежедневник, соответствующий текущему дню. Возьмём за пример 20
    мая - вы просто входите на сайт, нажимаете кнопку <b>"Ежедневник дня"</b> и мгновенно получаете
    ежедневник за 20 мая. Это уникальная функция сделана для того, чтобы сэкономить ваше время
    и сделать использование сайта еще более простым и удобным.
   </p>
   <p>
    <a href="/reflections/aa/yanvar" class="underline underline-offset-4 text-blue-500"
     >Перейти к ежедневникам</a
    >
   </p>
  </div>
 </div>
</Layout>
