---
import Nav from "~/components/UI/Nav.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Авторы">
 <div class="myContainer">
  <Nav />
  <div class="my-4 md:my-10 prose prose-headings:text-[24px] max-w-none">
   <h1>Авторы</h1>
  </div>
 </div>
</Layout>
