<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Manifest  -->
  <link rel="manifest" href="/manifest.json" />
  <!-- Табло для яндекс браузера -->
  <link rel="yandex-tableau-widget" href="/manifest.ya.json" />
  <!-- Favicons -->
  <link rel="icon" sizes="32x32" href="/favicon.ico" />
  <link rel="icon" sizes="120x120" type="image/svg+xml" href="/favicon.svg" />
  <!-- <link rel="mask-icon" href="/mask-icon.svg" color="#000" /> -->
  <link
   rel="apple-touch-icon"
   type="image/png"
   sizes="180x180"
   href="/favicons/icon-180x180.png"
  />
  <meta name="title" content="Ежедневные размышления АА, АН, АС и других" />
  <meta
   name="description"
   content="Ежедневные размышления сообществ с быстрым копированием для собрания"
  />
  <meta http-equiv="refresh" content="0; url = /reflections/aa/yanvar" />
  <title>Ежедневные размышления АА, АН, АС и других</title>
 </head>
 <body></body>
</html>
