---
import LArrow from './svg/LArrow.astro'
import RArrow from './svg/RArrow.astro'
const { prevUrl, nextUrl, current } = Astro.props
---

<nav
  aria-label="Пагинация"
  class="text-sm md:text-base gap-2 md:gap-5 my-10 w-full flex flex-col sm:flex-row items-center justify-center"
>
  {
    prevUrl && (
      <a
        href={prevUrl}
        class="leading-tight hover:bg-accent hover:text-white transition-all ease-linear  bg-white py-2 px-4 rounded-lg text-right hover:translate-x-[-4px]"
      >
        <span class="flex gap-1 items-center">
          <LArrow />
          Пред. страница
        </span>
      </a>
    )
  }

  {
    current && (
      <span class="leading-tight bg-accent text-white font-bold py-2 px-4 rounded-lg">
        {current}
      </span>
    )
  }

  {
    nextUrl && (
      <a
        href={nextUrl}
        class="leading-tight hover:bg-accent hover:text-white transition-all ease-linear  bg-white py-2 px-4 rounded-lg text-right hover:translate-x-[4px] "
      >
        <span class="flex gap-1 items-center">
           След. страница <RArrow />
        </span>
      </a>
    )
  }
</nav>
