---
import Nav from "~/components/UI/Nav.astro";
import Layout from "~/layouts/Layout.astro";

const sections = [
 {
  name: "Ежедневные размышления АА",
  desc:
   "AA Дневник, также известный как «Ежедневные размышления», - это инструмент, используемый в Анонимных Алкоголиках. Он предоставляет ежедневные размышления и вдохновение для людей, работающих над своим трезвением. Каждая запись направлена на вдохновение к размышлению и укрепление решимости оставаться трезвыми. Примером может служить запись под названием «Я - ЧУДО» от 1 января, в которой обсуждается идея, что автор записи обрел новую, чудесную силу и веру в своей жизни благодаря своему участию в Анонимных Алкоголиках. Они выражают свою зависимость и доверие к высшей силе и признают, что их трезвость - это само по себе чудо, чего они не смогли бы достичь самостоятельно​.",
  link: "/reflections/aa/yanvar/",
 },
 {
  name: "AA День за Днём",
  desc:
   "«AA День за Днём» — это ежедневная медитационная книга для алкоголиков и наркоманов. Она была создана в 1973 году Группой Молодых Людей Анонимных Алкоголиков в Денвере, штат Колорадо. Проект был возглавлен Шелли М., членом группы, который также составил «Молодой, Трезвый и Свободный» и «Карманный Спонсор». «День за Днём» был разработан в то время, когда во всем мире проводилось менее 200 встреч Наркотических Анонимов, и он представлял собой попытку группы создать двенадцатиступенчатую литературу, включающую наркоманов. В каждой ежедневной записи в книге содержится медитация, за которой следует открытое утверждение. После этого есть пустое место для записи. Каждая запись заканчивается фразой: «Бог, помоги мне оставаться чистым и трезвым сегодня».",
  link: "/reflections/aadays/yanvar/",
 },
 {
  name: "Ежедневные размышления АН",
  desc:
   "«Just for Today» в Наркотических Анонимных (NA) — это набор ежедневных размышлений и медитаций, помогающих людям с наркотической зависимостью сосредоточиться на трезвости каждый день. Программа основана на Двенадцати Шагах Наркотических Анонимных, и каждое дневное размышление центрировано вокруг одного из Шагов. Чтение каждого дня начинается с цитаты, за которой следует краткое размышление или медитация. Чтения предназначены для того, чтобы быть короткими и лаконичными, чтобы их можно было легко включить в загруженный день",
  link: "/reflections/an/yanvar/",
 },
 { name: "", desc: "", link: "" },
 { name: "", desc: "", link: "" },
 { name: "", desc: "", link: "" },
 { name: "", desc: "", link: "" },
 { name: "", desc: "", link: "" },
 { name: "", desc: "", link: "" },
 { name: "", desc: "", link: "" },
 { name: "", desc: "", link: "" },
];

const link = "underline text-blue-500 underline-offset-4";
---

<Layout title="Про ежедневники">
 <div class="myContainer">
  <Nav />
  <div class="my-4 md:my-10 prose prose-headings:text-[24px] max-w-none">
   <h1>Про ежедневники</h1>

   {
    sections.map((item) => (
     <section>
      <h2>
       <a href={item.link} class={link}>
        {item.name}
       </a>
      </h2>
      <p>{item.desc}</p>
     </section>
    ))
   }
  </div>
 </div>
</Layout>
