---
import PopoverMenu from '../customs/PopoverMenu'
const link =
  'inline-flex text-sm md:text-[16px] items-center select-none font-medium py-2 px-3 rounded-lg bg-white hover:bg-accent hover:text-white transition-colors ease-linear'
---

<div class="py-6 flex gap-3 md:gap-0 flex-wrap items-center justify-between">
  <PopoverMenu client:load />
  <a href="/feedback" class={link}>🔖 Обратная связь</a>
</div>
